<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="images/dummy_logo.png" alt="dummy logo">
    <form action="" id="form">
        <input type="text" name="nama_tugas">
        <input type="text" name="nama_matkul">
        <input type="date" name="due_date">
        <button type="Submit">Tambah Tugas</button>
    </form>
    <!--Todo: Integrate with backend api-->
</body>
</html>
