<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        * {
            font-family: sans-serif;
            margin: 0%;
            padding: 0%;
        }

        body {
            background-color: #FEE3EC;
        }

        .login-container {
            margin-top: 18vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            width: 30%;
            height: 50%;
            background-color: white;
            box-shadow: 5px 5px 10px #fcb2cb;
            border-radius: 16px;
        }
        
        header {
            margin: 15px;
        }
        
        h1 {
            text-align: center;
        }

        .login-form {
            list-style: none;
            margin-top: 5%;
            width: 100%;
            display: flex;
            text-align: center;
            flex-direction: column;
        }

        .input-form {
            width: 60%;
            margin-top: 5px;
            margin-left: 16%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .input-form input {
            border: none;
            background-color: rgba(238, 238, 238, 0.973);
            color: gray;
            border-radius: 6px;
            padding-left: 5px;
        }

        .btn-submit:disabled {
            /*background-color: red;
            color: darkred;*/
            margin-top: 15%;
            padding: 5px 8px;
            opacity: 60%;
            border-radius: 16px;
        }

        .btn-submit:enabled {
            margin-top: 15%;
            padding: 5px 8px;
            border-radius: 16px;
        }
    
        span {
            text-align: left;
            color: red;
        }

        .input-desc {
            text-align: right;
            margin-bottom: 3px;
        }

        /* footer */
        .site-footer
        {
        background-color:#26272b;
        padding:45px 0 20px;
        font-size:15px;
        line-height:24px;
        color:#737373;
        }
        .site-footer hr
        {
        border-top-color:#bbb;
        opacity:0.5
        }
        .site-footer hr.small
        {
        margin:20px 0
        }
        .site-footer h6
        {
        color:#fff;
        font-size:16px;
        text-transform:uppercase;
        margin-top:5px;
        letter-spacing:2px
        }
        .site-footer a
        {
        color:#737373;
        }
        .site-footer a:hover
        {
        color:#3366cc;
        text-decoration:none;
        }
        .footer-links
        {
        padding-left:0;
        list-style:none
        }
        .footer-links li
        {
        display:block
        }
        .footer-links a
        {
        color:#737373
        }
        .footer-links a:active,.footer-links a:focus,.footer-links a:hover
        {
        color:#3366cc;
        text-decoration:none;
        }
        .footer-links.inline li
        {
        display:inline-block
        }
        .site-footer .social-icons
        {
        text-align:right
        }
        .site-footer .social-icons a
        {
        width:40px;
        height:40px;
        line-height:40px;
        margin-left:6px;
        margin-right:0;
        border-radius:100%;
        background-color:#33353d
        }
        .copyright-text
        {
        margin:0
        }
        @media (max-width:991px)
        {
        .site-footer [class^=col-]
        {
            margin-bottom:30px
        }
        }
        @media (max-width:767px)
        {
        .site-footer
        {
            padding-bottom:0
        }
        .site-footer .copyright-text,.site-footer .social-icons
        {
            text-align:center
        }
        }
        .social-icons
        {
        padding-left:0;
        margin-bottom:0;
        list-style:none
        }
        .social-icons li
        {
        display:inline-block;
        margin-bottom:4px
        }
        .social-icons li.title
        {
        margin-right:15px;
        text-transform:uppercase;
        color:#96a2b2;
        font-weight:700;
        font-size:13px
        }
        .social-icons a{
        background-color:#eceeef;
        color:#818a91;
        font-size:16px;
        display:inline-block;
        line-height:44px;
        width:44px;
        height:44px;
        text-align:center;
        margin-right:8px;
        border-radius:100%;
        -webkit-transition:all .2s linear;
        -o-transition:all .2s linear;
        transition:all .2s linear
        }
        .social-icons a:active,.social-icons a:focus,.social-icons a:hover
        {
        color:#fff;
        background-color:#29aafe
        }
        .social-icons.size-sm a
        {
        line-height:34px;
        height:34px;
        width:34px;
        font-size:14px
        }
        .social-icons a.facebook:hover
        {
        background-color:#3b5998
        }
        .social-icons a.twitter:hover
        {
        background-color:#00aced
        }
        .social-icons a.linkedin:hover
        {
        background-color:#007bb6
        }
        .social-icons a.dribbble:hover
        {
        background-color:#ea4c89
        }
        @media (max-width:767px)
        {
        .social-icons li.title
        {
            display:block;
            margin-right:0;
            font-weight:600
        }
        }

    </style>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-body rounded sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style = "font-size: 25px ; color: #F2789F; padding-left: 2vw;">To Do List</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" style="padding-right: 2vw;">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#aboutus">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="login-container">
        <div class="card">
            <header>
                <h1>Login Form</h1>
            </header>

            <form action="/login" id="form" method="POST">
                <ul class="login-form">
                    <li>
                        <div class="input-form">
                            <p class="input-desc"><span>*</span>Username</p>
                            <input type="text" name="username" id="username">
                        </div>
                    </li>
                    <li>
                        <div class="input-form">
                            <p class="input-desc"><span>*</span>Password</p>
                            <input type="password" name="password" id="password">
                        </div>
                    </li>
                    <li>
                        <div class="input-form">
                            <button type="submit" class="btn-submit" disabled>Login</button>
                        </div>
                    </li>
                </ul>     
            </form>
        </div>
    </div>

    <br><br><br><br><br><br><br>

    <!-- Site footer -->
    <footer class="site-footer" id="aboutus">
        <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">From the moment 
                I understood the weakness of my flesh, 
                it disgusted me. I craved the strength 
                and certainty of steel. I aspired to the 
                purity of the blessed machine. Your kind cling 
                to your flesh as if it will not decay and fail 
                you. One day the crude biomass you call a temple 
                will wither and you will beg my kind to save you.
                But I am already saved. For the Machine is Immortal.</p>
            </div>


            <div class="col-xs-6 col-md-3">
            <h6>us</h6>
            <ul class="footer-links">
                <li><a href="https://github.com/rayhankinan" target="_blank">13520065 kin</a></li>
                <li><a href="https://github.com/ZakyHermawan" target="_blank">13220022 buzzword</a></li>
                <li><a href="https://github.com/jundanha" target="_blank">13520155 junn</a></li>
                <li><a href="https://github.com/slehmadi" target="_blank">18120039 slehmadi</a></li>
                <li><a href="https://github.com/zhillan-arf" target="_blank">18220008 dialah_zhillanku</a></li>
                <li><a href="https://github.com/nad-if" target="_blank">18120036 Zeave</a></li>
            </ul>
            </div>
        </div>
        <hr>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
        Kelompok 1 ARC.
            </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
            
            </div>
        </div>
        </div>
    </footer>
    
    <script>
        const inputUser = document.querySelector("#username")
        const inputPass = document.querySelector("#password")
        const submitButton = document.querySelector(".btn-submit")
        const loginForm = document.querySelector("#form")

        inputUser.addEventListener('input', isFormEmpty)
        inputPass.addEventListener('input', isFormEmpty)

        function isFormEmpty() {
            if (inputUser.value.trim() && inputPass.value.trim()) {
                submitButton.disabled = false
            } else {
                submitButton.disabled = true
            }
        }

        loginForm.addEventListener('submit', (event) => {
            event.preventDefault()

            const username = inputUser.value
            const password = inputPass.value

            const target_url = "http://localhost:3000/test_login"
            const header = new Headers({
                'Content-Type':'application/json'
            })

            const payload = {
                username: username,
                password: password
            }

            fetch(target_url, {
                method: 'POST',
                headers: header,
                body: JSON.stringify(payload)
            })
            .then(data => data.json()).then(data => {
                if (data.msg === 'Login Success') {
                    location.href = 'http://localhost:3000/todo'
                } else if (data.msg === 'Incorrect Username or Password'){
                    alert(data.msg)
                    inputUser.value = ''
                    inputPass.value = ''
                }
            })
            .catch(err => {alert('fail'); console.log(err)})
        })
    </script>

</body>
</html>