<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <style>
        * {
            font-family: sans-serif;
            margin: 0%;
            padding: 0%;
        }

        .container {
            width: 100vw;
            height: 100vh;
            background-color: rgb(149, 223, 248);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            width: 30%;
            height: 50%;
            background-color: white;
            outline: solid;
            outline-color: rgb(19, 87, 151);
            border-radius: 16px;
        }
        
        header {
            margin: 15px 0;
        }
        
        h1 {
            text-align: center;
        }

        .login-form {
            list-style: none;
            margin-top: 5%;
            width: 100%;
            display: flex;
            text-align: center;
            flex-direction: column;
        }

        .input-form {
            width: 60%;
            margin-top: 15px;
            margin-left: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .btn-submit:disabled {
            /*background-color: red;
            color: darkred;*/
            margin-top: 15%;
            padding: 5px 8px;
            opacity: 60%;
            border-radius: 16px;
        }

        .btn-submit:enabled {
            margin-top: 15%;
            padding: 5px 8px;
            border-radius: 16px;
        }
    
        span {
            text-align: left;
            color: red;
        }

        .input-desc {
            text-align: right;
            margin-bottom: 3px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <header>
                <h1>Login Form</h1>
            </header>

            <form action="/login" id="form" method="POST">
                <ul class="login-form">
                    <li>
                        <div class="input-form">
                            <p class="input-desc"><span>*</span>Username</p>
                            <input type="text" name="username" id="username">
                        </div>
                    </li>
                    <li>
                        <div class="input-form">
                            <p class="input-desc"><span>*</span>Password</p>
                            <input type="password" name="password" id="password">
                        </div>
                    </li>
                    <li>
                        <div class="input-form">
                            <button type="submit" class="btn-submit" disabled>Login</button>
                        </div>
                    </li>
                </ul>     
            </form>
        </div>
    </div>
    
    <script>
        const inputUser = document.querySelector("#username")
        const inputPass = document.querySelector("#password")
        const submitButton = document.querySelector(".btn-submit")
        const loginForm = document.querySelector("#form")

        inputUser.addEventListener('input', isFormEmpty)
        inputPass.addEventListener('input', isFormEmpty)

        function isFormEmpty() {
            if (inputUser.value.trim() && inputPass.value.trim()) {
                submitButton.disabled = false
            } else {
                submitButton.disabled = true
            }
        }

        loginForm.addEventListener('submit', (event) => {
            event.preventDefault()

            const username = inputUser.value
            const password = inputPass.value

            const target_url = "http://localhost:3000/test_login"
            const header = new Headers({
                'Content-Type':'application/json'
            })

            const payload = {
                username: username,
                password: password
            }

            fetch(target_url, {
                method: 'POST',
                headers: header,
                body: JSON.stringify(payload)
            })
            .then(data => data.json()).then(data => {
                if (data.msg === 'Login Success') {
                    location.href = 'http://localhost:3000/user_todo'
                } else if (data.msg === 'Incorrect Username or Password'){
                    alert(data.msg)
                    inputUser.value = ''
                    inputPass.value = ''
                }
            })
            .catch(err => {alert('fail'); console.log(err)})
        })
    </script>

</body>
</html>